@if (display()) {
  <div class="fixed w-full h-[60px] lg:h-[5vw] bg-white">
    <div class="mx-[2vw] sm:mx-[5vw] h-full flex items-center justify-between">
      <div class="flex items-center gap-6">
        <div>
          <div class="w-[100px] h-[50px] lg:h-auto lg:w-[8vw]">
            <img [src]="logo" alt="" />
          </div>
        </div>
        <p class="text-secondary font-medium border-2 p-2 rounded-xl lg:text-[1.4vw]">
          {{ loger()?.toUpperCase() }}
        </p>
        <div>
          <button
            (click)="logout()"
            class="font-medium bg-primary p-2 rounded-xl text-white cursor-pointer lg:text-[1.4vw]"
          >
            Logout
          </button>
        </div>
      </div>

      <div>
        @if (loger() === 'admin') {
          <div class="w-[100px] h-[50px] lg:h-[4vw] lg:w-[8vw]">
            <img class="w-full h-full object-cover" [src]="adminImage()" alt="" />
          </div>
        }
      </div>
    </div>
  </div>
}
