<div class="p-4 h-full bg-gray-50 dark:bg-slate-800">
  <h1 class="tex-lg md:text-[1.5vw] font-semibold dark:text-white">All Doctors</h1>
  @if (allDoctors().length) {
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 mt-4">
      @for (doctor of allDoctors(); track doctor._id) {
        <article
          class="h-[500px] overflow-hidden flex flex-col p-[10px] bg-slate-50 hover:bg-sky-100 border-2 border-slate-300 dark:bg-slate-700 dark:hover:bg-slate-600"
        >
          <div class="overflow-hidden w-full h-[70%] p-2 shrink-0">
            <img class="block w-full h-full object-cover" [src]="doctor.image" />
          </div>

          <div class="flex flex-col justify-evenly items-start p-2 mt-4 h-[30%] shrink-0">
            <p
              class="font-bold text-[3vw] sm:text-[1.5vw] whitespace-nowrap text-dark dark:text-white"
            >
              {{ doctor.name }}
            </p>
            <p class="text-secondary font-semibold text-[3vw] sm:text-[1.5vw]">
              {{ doctor.speciality }}
            </p>

            <div class="flex gap-2 items-center">
              <!-- <p class="w-[15px] h-[15px] bg-green-500 rounded-full"></p> -->
              @if (doctor.available) {
                <fa-icon
                  [icon]="availableIcon"
                  class="rounded-full text-green-700 text-[3vw] sm:text-[1.5vw]"
                ></fa-icon>
                <p class="text-green-500 text-[3vw] sm:text-[2vw]">Available</p>
              } @else {
                <fa-icon
                  [icon]="notAvailableIcon"
                  class="rounded-full text-secondary text-[3vw] sm:text-1.5vw]"
                ></fa-icon>
                <p class="text-secondary text-[3vw] sm:text-[1.5vw]">Not Available</p>
              }
            </div>
          </div>
        </article>
      }
    </div>
  }
</div>
