<div class="flex flex-col gap-2 bg-white p-2 rounded-lg overflow-hidden dark:bg-slate-900">
  <div class="flex justify-end p-2">
    <fa-icon
      (click)="closeModeOptions()"
      class="cursor-pointer text-red-300 hover:text-danger"
      [icon]="xIcon"
    ></fa-icon>
  </div>

  <div
    (click)="setMode('Light')"
    class="flex justify-between p-2 cursor-pointer hover:bg-sky-100 dark:hover:bg-slate-700 dark:text-white"
  >
    <div class="flex gap-2">
      <fa-icon [icon]="sunIcon"></fa-icon>
      <p>Light</p>
    </div>
    @if (mode() === 'Light') {
      <fa-icon [icon]="checkIcon"></fa-icon>
    }
  </div>

  <div
    (click)="setMode('Dark')"
    class="flex justify-between p-2 cursor-pointer hover:bg-sky-100 dark:hover:bg-slate-700 dark:text-white"
  >
    <div class="flex gap-2">
      <fa-icon [icon]="moonIcon"></fa-icon>
      <p>Dark</p>
    </div>
    @if (mode() === 'Dark') {
      <fa-icon [icon]="checkIcon"></fa-icon>
    }
  </div>
</div>
