<div class="h-full p-2 dark:bg-slate-800">
  <form class="flex flex-col gap-4" [formGroup]="docForm" (ngSubmit)="submit()" appFirstInvalid>
    <div class="w-full h-[50vw] sm:h-[30vw]">
      <label
        [ngClass]="{ 'pointer-events-none': updateDocInfo(), 'cursor-pointer': !updateDocInfo() }"
        class=""
        for="doc-img"
      >
        <img class="w-full h-full object-cover" [src]="docData()?.image" alt="" />
      </label>
      <input class="hidden" (change)="fileUploaded($event)" type="file" id="doc-img" />
    </div>
    <!-- srart docRank -->
    <div class="flex gap-4">
      <!-- startrank -->
      <div class="w-fit sm:w-[20%] shrink-0">
        <p class="text-[50px] dark:text-white">
          {{ docRank().rank.decimal }}.{{ docRank().rank.frag }}
        </p>
        <div class="flex gap-[2px]">
          @for (rank of [1, 2, 3, 4, 5]; track $index) {
            <div class="relative w-fit">
              <div class="text-gray-300">
                <fa-icon class="text-[12px]" [icon]="starIcon"></fa-icon>
              </div>

              @if (rank <= docRank().rank.decimal) {
                <div class="absolute top-0 left-0 overflow-hidden text-primary">
                  <fa-icon class="text-[12px]" [icon]="starIcon"></fa-icon>
                </div>
              } @else if (rank === docRank().rank.decimal + 1) {
                <div
                  [ngStyle]="{ width: docRank().rank.frag * 10 + '%' }"
                  class="absolute top-0 left-0 overflow-hidden text-primary"
                >
                  <fa-icon class="text-[12px]" [icon]="starIcon"></fa-icon>
                </div>
              }
            </div>
          }
        </div>

        <p class="text-secondary dark:text-slate-300">
          Reviewers
          <span class="font-bold">
            {{ docRank().totalReviewers }}
          </span>
        </p>
      </div>
      <!-- endrank -->
      <!-- start rating distribution -->
      <div class="sm:w-[80%] flex flex-col grow">
        @for (dist of [5, 4, 3, 2, 1]; track $index) {
          <div class="flex gap-2 items-center w-full">
            <p class="text-secondary text-[12px] dark:text-slate-300">{{ dist }}</p>
            <div class="bg-gray-200 h-[8px] grow-1 rounded-full overflow-hidden">
              <div
                [style.width]="docRank().ratingDistribution[dist]"
                class="h-full bg-primary w-0"
              ></div>
            </div>
          </div>
        }
      </div>
      <!-- end rating distribution-->
    </div>

    <!-- end docRank -->
    <div class="flex flex-col gap-4">
      <section>
        <h1 class="text-lg sm:text-[2vw] text-secondary font-semibold dark:text-white">
          {{ docData()?.name }}
        </h1>
        <p class="sm:text-[1.5vw] text-dark font-medium dark:text-slate-400">
          {{ docData()?.degree }} - {{ docData()?.speciality }}
          <span class="text-gray-300 border-2 px-1 rounded-lg dark:text-slate-300"
            >{{ docData()?.experience }} Year</span
          >
        </p>
      </section>

      <section>
        <h2 class="sm:text-[1.5vw] text-dark dark:text-white">About</h2>
        <p class="sm:text-[1.3vw] text-gray-300 dark:text-slate-300">{{ docData()?.about }}</p>
      </section>

      <div
        [ngClass]="{ 'flex flex-col gap-1': !updateDocInfo() }"
        class="sm:text-[1.5vw] text-dark font-medium dark:text-white"
      >
        <span>consultation Fee: </span>
        <span [hidden]="!updateDocInfo()">{{
          docData()?.consultationFee | currency: ' EGP '
        }}</span>
        <div [hidden]="updateDocInfo()">
          <input
            class="outline-0 border-2 border-sky-200 w-[80%] sm:w-[50%] py-1"
            type="number"
            formControlName="consultationFee"
          />
          @if (docForm.get('consultationFee')?.touched && docForm.get('consultationFee')?.invalid) {
            @if (docForm.get('consultationFee')?.hasError('required')) {
              <p class="text-danger">Doctor fee is required</p>
            } @else {
              <p class="text-danger">Doctor fee is invalid</p>
            }
          }
        </div>
      </div>

      <section
        [ngClass]="{ 'flex flex-col': !updateDocInfo(), 'flex flex-row': updateDocInfo() }"
        class="gap-1"
      >
        <h2 class="sm:text-[1.5vw] text-dark font-medium dark:text-white">Address:</h2>
        <div class="sm:text-[1.3vw] text-secondary dark:text-slate-400">
          <p [hidden]="!updateDocInfo()">{{ docData()?.address?.line1 }}</p>
          <p [hidden]="!updateDocInfo()">{{ docData()?.address?.line2 }}</p>
          <div formGroupName="address" [hidden]="updateDocInfo()" class="flex flex-col gap-2 mt-2">
            <div class="flex flex-col gap-1">
              <label class="font-medium" for="add1">Address 1</label>
              <input
                class="outline-0 border-2 border-sky-200 w-[80%] sm:w-[50%] py-1"
                type="text"
                id="add1"
                formControlName="line1"
              />
              @if (docForm.get('address.line1')?.touched && docForm.get('address.line1')?.invalid) {
                @if (docForm.get('address.line1')?.hasError('required')) {
                  <p class="text-danger">Doctor address is required</p>
                } @else {
                  <p class="text-danger">Doctor address is invalid</p>
                }
              }
            </div>
            <div class="flex flex-col gap-1">
              <label class="font-medium" for="add2">Address 2</label>
              <input
                class="outline-0 border-2 border-sky-200 w-[80%] sm:w-[50%] py-1"
                type="text"
                id="add2"
                formControlName="line2"
              />
              @if (docForm.get('address.line2')?.touched && docForm.get('address.line2')?.invalid) {
                @if (docForm.get('address.line2')?.hasError('required')) {
                  <p class="text-danger">Doctor address is required</p>
                } @else {
                  <p class="text-danger">Doctor address is invalid</p>
                }
              }
            </div>
          </div>
        </div>
      </section>
      @if (updateDocInfo()) {
        @if (docData()?.available) {
          <div class="flex gap-1 sm:text-[1.5vw]">
            <fa-icon class="text-primary" [icon]="availableIcon"></fa-icon>
            <p class="dark:text-white">Available</p>
          </div>
        } @else {
          <div class="flex gap-1 sm:text-[1.5vw]">
            <fa-icon class="text-secondary" [icon]="notAvailableIcon"></fa-icon>
            <p class="dark:text-white">Not Available</p>
          </div>
        }
      } @else {
        <div class="flex flex-col gap-1 dark:text-white">
          <div class="flex gap-1 border-2 border-sky-200 p-1 w-fit">
            <label class="w-[35vw] md:w-[25vw]" for="av">Available</label>
            <input
              class="text-3xl"
              type="radio"
              name="available"
              [value]="true"
              formControlName="available"
              id="av"
            />
          </div>
          <div class="flex gap-1 border-2 border-sky-200 p-1 w-fit">
            <label class="w-[35vw] md:w-[25vw]" for="notav">Not available</label>
            <input
              class="text-3xl"
              type="radio"
              name="available"
              [value]="false"
              formControlName="available"
              id="notav"
            />
          </div>
        </div>
      }
      <div class="sm:text-[1.5vw]">
        <button
          (click)="updateDocInfoState()"
          [ngClass]="updateDocInfo() ? 'bg-danger' : 'bg-primary'"
          class="bg-amber-400 py-2 px-1 w-[100px] sm:px-0 sm:w-[25%] rounded-lg text-white font-semibold cursor-pointer"
        >
          {{ updateDocInfo() ? 'Update' : 'Save' }}
        </button>
      </div>
    </div>
  </form>
</div>
