<!-- <p class="h-full"></p> -->
<div class="p-4 bg-gray-50 h-full grow">
  <div class="flex gap-4 flex-col md:flex-row md:justify-between">
    <article
      class="bg-white p-2 flex md:flex-col lg:flex-row lg:items-center gap-2 md:text-[1.2vw] border-2 border-gray-200 md:w-[20vw] shrink-0"
    >
      <div>
        <fa-icon [icon]="moneyIcon" class="bg-sky-100 text-primary md:text-[2vw]"></fa-icon>
      </div>
      <div>
        <p class="text-secondary font-medium">
          Income
          <span class="text-gray-400 font-bold">{{ dashData().money | currency: '₤' }}</span>
        </p>
      </div>
    </article>
    <article
      class="bg-white p-2 flex md:flex-col lg:flex-row lg:items-center gap-2 md:text-[1.2vw] border-2 border-gray-200 md:w-[20vw] shrink-0"
    >
      <div>
        <fa-icon [icon]="appointIcon" class="bg-sky-100 text-primary md:text-[2vw]"></fa-icon>
      </div>
      <div>
        <p class="text-secondary font-medium">
          Number of appointments
          <span class="text-gray-400 font-bold">{{ dashData().numberOfAppointments }}</span>
        </p>
      </div>
    </article>

    <article
      class="bg-white p-2 flex md:flex-col lg:flex-row lg:items-center gap-2 md:text-[1.2vw] border-2 border-gray-200 md:w-[20vw] shrink-0"
    >
      <div>
        <fa-icon [icon]="patientIcon" class="bg-sky-100 text-primary md:text-[2vw]"></fa-icon>
      </div>
      <div>
        <p class="text-secondary font-medium">
          Number of patients
          <span class="text-gray-400 font-bold">{{ dashData().numberOfPatients }}</span>
        </p>
      </div>
    </article>
  </div>
  @if (dashData().completedAppointments?.length) {
    <div class="mt-6">
      <div class="flex gap-2 border-2 border-gray-200 p-2 md:text-[1.3vw]">
        <fa-icon class="text-primary" [icon]="shareIcon"></fa-icon>
        <p class="font-semibold">completed Appointment</p>
      </div>
      <ul>
        @for (
          appointment of dashData().completedAppointments;
          let i = $index;
          track appointment._id
        ) {
          <li class="border-2 border-t-0 border-gray-200 p-4">
            <div class="flex gap-2 items-center">
              <div class="size-12 md:w-[3vw] md:h-[3vw] overflow-hidden">
                <img class="w-full h-full object-cover" [src]="appointment.userData.image" alt="" />
              </div>

              <div class="md:text-[1.2vw]">
                <p class="text-dark font-medium">{{ appointment.userData.name }}</p>
                <p class="text-secondary">{{ getDate(appointment.date) | date }}</p>
              </div>
            </div>
          </li>
        }
      </ul>
    </div>
  }
</div>
